.gitignore
/DEBUG.png
/Elementar/src/oracle/
/Elementar/.classpath
/Elementar/.project
/Elementar/.settings/
/Elementar/bin/
/Maromba/
/NetBeansProjects/
/OperadoresLogicosJAVA.png
/OperadoresPrioridade.png
/cursojava/
/eclipse/
/ed/
/idea/
/java/
/javac/
/jee/
/jse/
/loucademia-arq/
/or_e_and/
/softblue/
/spring/
/tdd/
/teste/
/testes/
/udemy-tdd/
/use_a_cabeca_java/
/xyz.infodata-teste1/
/zbk.Loucademia/
/zbk.Maromba.old/
/zbk.Maromba.ultimo/
/zbk.Maromba/
/zbk.softblue/
/Java_NFe-master.zip
.metadata/

/NetBeans/JavaApplication1/nbproject/private/
/NetBeans/Agenda/nbproject/private/
/NetBeans/Agenda/build/
